.mainBody {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #291C0E, #6E473B);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E1D4C2;
    width: 100%;
    padding: 0;
  }

.btnSubmit{
    background: linear-gradient(135deg, #6E473B, #A78678);
    color: #fff;
}

.glassCard {
  background: /* rgba(46, 34, 27, 0.8) */#fff;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid #BEB5A9;
}